body{
    background: #444;
    color: white;
}

/*-----------------------------------------#nav---------------------------------------*/
h1 {
    color: white;
    font-size: 4em;
    font-weight: 100;
    font-family: 'Tenada';
    padding-top: 15px;
}

#nav {
    position: fixed;
    z-index: 100;
    font-family: 'Pretendard-Regular';
    color: white;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#nav>div {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#nav a {
    color: white;
}

#nav li:hover a {
    color: #aaa;
}

.menuwrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav>div>.login {
    position: absolute;
    display: flex;
    top: 25px;
    right: 0;
    font-size: 0.9em;
}

#nav>div>.login>li {
    display: block;
    padding: 10px;
}

.menu {
    display: flex;
    gap: 80px;
    font-size: 18px;
}

.hero-slider {
    width: 100%;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 0;
}

.data-background>img {
    width: 100%;
}

/*-----------------------------------------#nav---------------------------------------*/

/*-----------------------------------------carmore---------------------------------------*/
.carmore{
    max-width: 1200px;
    margin: 0 auto;
}
.carmore .category{
    /* width: 100%; */
    display: flex;
    margin: 15% 0 10px 0;
    font-size: 1.5em;
    font-family: 'Pretendard-Regular';
    gap: 1%;  
}
.carmore .category>li{
    border-radius: 5px;
    padding: 10px 30px;
    background: #222
}
.carmore .category a{
    color: #777;
    transition: 0.5s;
}
.carmore .category>li:hover a{
    color: white;
}
.carmore .category>li:nth-child(2) a{
    color: white;
}

.carmore>.company>div{
    display: flex;
    align-items: center;
    border-top: 1px solid #999;
    font-size: 1.2em;
    padding: 50px 0 80px 0;
}
.carmore>.company>div>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carmore>.company>div li{
    line-height: 3;
}
.carmore>.company>div .title{
    font-size: 1.5em;
    font-weight: bold;
}
.carmore>.company>div .option{
    font-size: 0.7em;
    line-height: 0;
}
.carplay>li{
    background-color: #111;
    font-size: 0.8em;
    margin: 10px;
}
.carplay a{
    padding: 10px 30px;
    color: white;
}
.carmore img{
    width: 50%;
}
/*-----------------------------------------carmore---------------------------------------*/


/* ------------------------------------footer------------------------------------ */
footer {
    background-color: #333;
    color: white;
    /* margin-top: 400px; */
    font-family: 'LeferiPoint-WhiteObliqueA';
    margin-top: 100px;
}
footer a{
    color: white;
}

footer>.innerbox {
    width: 98%;
    margin: 0 auto;
}

footer .top {
    padding: 15px 0;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
}

footer .top>ul {
    display: flex;
    height: 15px;
    gap: 30px;
}

footer .follow {
    text-align: center;
}

footer .follow>ul {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

footer img {
    width: 30px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    line-height: 1.5;
}

/* ------------------------------------footer------------------------------------ */