body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: black;
}

h1 {
  color: white;
  font-size: 4em;
  font-weight: 100;
  font-family: 'Tenada';
  padding-top: 15px;
}

h2 {
  line-height: 1.1;
}

#nav {
  position: fixed;
  z-index: 100;
  font-family: 'Pretendard-Regular';
  color: white;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#nav>div {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#nav a {
  color: white;
}

#nav li:hover a {
  color: #aaa;
}

.menuwrap {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav>div>.login {
  position: absolute;
  display: flex;
  top: 25px;
  right: 0;
  font-size: 0.9em;
}

#nav>div>.login>li {
  display: block;
  padding: 10px;
}

.menu {
  display: flex;
  gap: 80px;
  font-size: 18px;
}


.input{
  position: relative;
  width: 100%;
  color: #eee;
  font-family: 'Pretendard-Regular';
}
.input>img{
  width: 100%;
  height: 100vh;
  /* filter: blur(5px); */
}
.input>div{
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px 80px 80px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.input>div>h2{
  margin-bottom: 50px;
  font-size: 2em;
  font-weight: normal;
}
.input>div>ul{
  display: flex;
  gap: 40px;
  margin: 30px 0;
  font-size: 18px;
  text-align: center;
}
.input>div>ul:nth-child(6) input{
  
}
.input li{
  width: 100%;
}
.input .button{
  font-size: 16px;
  margin-top: 60px;
}
.input .button>a{
  background: black;
  color: #eee;
  padding: 10px 60px;
  transition: 0.3s;
}
.button:hover a{
  background: #eee;
  color: #222;
}
input{
  padding: 2px;
  width: 200px;
  color: #222;
}
.input span{
  display: block;
  font-size: 14px;
  line-height: 1.5;
  color: #eee;
  margin-top: 30px;
}





/* footer */
footer {
  z-index: 100;
  background-color: #333;
  color: #eee;
  /* margin-top: 400px; */
  font-family: 'LeferiPoint-WhiteObliqueA';
}
footer>.innerbox{
  width: 98%;
  margin: 0 auto;
}
footer .top {
  padding: 15px 0;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
}
footer .top a{
  color: #eee;
}

footer .top>ul {
  display: flex;
  height: 15px;
  gap: 30px;
}
footer .follow{
  text-align: center;
}
footer .follow>ul{
  display: flex;
  margin-top: 20px;
  gap: 30px;
}
footer img {
  width: 30px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  line-height: 1.5;
}